{% extends 'front_base.html.twig' %}
{% block title %}HkStat!{% endblock %}

{% block body %}
    <h1>HkStat index</h1>
   <p>Total Clique : {{ hk_stats|length }} </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hk_stat in hk_stats %}
         
            <tr>
                <td>{{ hk_stat.id }}</td>
                <td>
                    <a href="{{ path('front_app_hk_stat_show', {'id': hk_stat.id}) }}">show</a>
                    <a href="{{ path('front_app_hk_stat_edit', {'id': hk_stat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('front_app_hk_stat_new') }}">Create new</a>
{% endblock %}
