<!DOCTYPE html>

<title>Question index</title>

{% block body %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
                <th>Quiz</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.content }}</td>
                <td>{{ question.quiz.getName() }}</td>
                <td>{{ question.image }}</td>
                <td>
                    <a href="{{ path('front_app_question_show', {'id': question.id}) }}">show</a>
                    <a href="{{ path('front_app_question_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('front_app_question_new') }}">Create new</a>
{% endblock %}
