{% extends 'front_base.html.twig' %}
{% block title %}Catégories{% endblock %}

{% block body %}
<main class="categories md:pl-[255px] lg:pl-[255px] flex min-h-full users-center justify-center py-12 px-4 flex-col">
    <div>
        <h2 class="mt-6 text-4xl font-bold tracking-tight text-gray-900 text-left">
            Catégories
        </h2>
        <a href="{{ path('front_app_category_new') }}" class="cta cta-add bg-[#355070] mt-2">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
            <span class="pr-2">Ajouter une catégorie</span>
        </a>
    </div>

    {% for item in categories %}
        <div class="category-card">
            <p>Name: {{item.name}} </p>
            <p>minAge: {{item.minAge}} </p>
            <p>maxAge: {{item.maxAge}} </p>
            <p>isActive: {{item.isActive == true ? "Activer" : "Non-active" }} </p>
            <a href="{{ path('front_app_category_show', {'id': item.id}) }}" class="text-indigo-600 hover:text-indigo-900">Show the category</a>
            <a href="{{ path('front_app_category_edit', {'id': item.id}) }}" class="text-indigo-600 hover:text-indigo-900">Edit the category</a>
        </div>
    {% endfor %}
</main>
{% endblock %}




