{% extends 'front_base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}


{% block body %}
	<main class="homepage flex items-baseline min-h-screen justify-center  px-4 sm:px-6 lg:px-8 bg-gradient-to-b from-[#F9D9D5] from-10% via-[#F8F8FA] via-50% to-[#F8F8FA] to-100% ">

		<div class="homepage-content w-full max-w-md space-y-8 px-2">
			<h1 class="text-3xl font-medium text-[#466288]">
				Bonjour {{ app.user.firstname ?? '' }}
			</h1>

			<div class="hero-container">
				<p class="hero-text">
					Voici votre carte de tiers-payant !
					<span>Évitez d’avancer les frais.<br/>
					Présentez-la aux professionnels de santé</span>
				</p>
				<img src="{{ asset('/img/card.png') }}" alt="carte de tiers-payant" class="w-full">
			</div>

			<section class="card-container">
				<div class="card-row">
					<div class="card">
						<img src="{{ asset('/img/refund.svg') }}" alt="Icone de remboursement" class="w-full">
						<strong>Demander un remboursement</strong>
						<p>Transmettre un justificatif pour me faire rembourser.</p>
					</div>

					<div class="card">
						<img src="{{ asset('/img/calcul.svg') }}" alt="Icone de estimation de remboursement" class="w-full">
						<strong>Estimer un remboursement</strong>
						<p>Simuler le reste à charge pour mes futurs soins.</p>
					</div>
				</div>

				<div class="card-row">
					<div class="card">
						<img src="{{ asset('/img/play.svg') }}" alt="Icone de En apprendre plus sur ma mutuelle" class="w-full">
						<strong>En apprendre plus sur ma mutuelle</strong>
						<p>Regarder des vidéos qui me concernent pour </p>
					</div>

					<div class="card">
						<img src="{{ asset('/img/medal.svg') }}" alt="Icone de Tester mes connaissances" class="w-full">
						<strong>Tester mes connaissances</strong>
						<p>Répondre aux quiz pour</p>
					</div>
				</div>
			</section>
			<footer class="footer-homepage">
				<div class="links-container">
					<div class="footer-link active">
						<img src="{{ asset('/img/home.svg') }}" alt="Icone page d'accueil">
						<span>Accueil</span>
					</div>

					<div class="footer-link">
						<img src="{{ asset('/img/couverture.svg') }}" alt="Icone page de couverture">
						<span>Couverture</span>
					</div>

					<div class="footer-link">
						<img src="{{ asset('/img/heart.svg') }}" alt="Icone page de soins">
						<span>Soins</span>
					</div>

					<a href="{{ path('front_app_demo_engagement') }}" class="footer-link">
						<img src="{{ asset('/img/engagement.svg') }}" alt="Icone page d'engagement">
						<span>Engagement</span>
					</a>

					<a href="{{ path('front_app_profil') }}" class="footer-link">
						<img src="{{ asset('/img/profile.svg') }}" alt="Icone page de profil">
						<span>Profil</span>
					</a>
				</div>
			</footer>
		</div>

	</main>
{% endblock %}