{% extends 'front_base.html.twig' %}

{% block title %}TEAM!{% endblock %}

{% block body %}
<section class="flex min-h-full users-center justify-center py-12 px-4 sm:px-6 lg:px-4">
    <div class="w-full max-w-md space-y-8">
        <div>
            <h2 class="mt-6 text-4xl font-bold tracking-tight text-gray-900 text-left">
                Membres
            </h2>
            <a href="{{ path('front_app_team_add') }}" class="text-white hover:text-indigo-900 bg-indigo-600 py-2 px-2 mt-2 flex w-fit">
            <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
                <span class="pr-2">Ajouter un membre</span>
            </a>
        </div>

        {% for user in users %}
            <div class="bg-gray-200 py-4 px-8">
                <p class="text-2xl text-ellipsis break-words">{{user.firstname}} {{user.lastname}}</p>
                <p>{{user.email}} </p>
                <p>{{user.roles[0]}} </p>
                <div class="relative whitespace-nowrap py-4 text-sm font-medium sm:pr-6">
                    <a href="{{ path('front_app_team_edit', {'id': user.id}) }}" class="text-gray-200 hover:text-gray-400 bg-indigo-600 rounded-full px-4 py-2">Edit</a>
                </div>
            </div>
        {% endfor %}

        <p class="text-center">Vous avez déjà un compte ? <a href="{{ path('front_app_login') }}" class="font-medium text-indigo-600 hover:text-indigo-500 text-align">Connectez-vous</a></p>
    </div>
</section>

{% endblock %}
